<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.onlineshopping.Controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.onlineshopping.Controllers.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.onlineshopping.Controllers.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.onlineshopping.Controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManufactureServlet</servlet-name>
        <servlet-class>com.onlineshopping.Controllers.ManufactureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OperatingSystemServlet</servlet-name>
        <servlet-class>com.onlineshopping.Controllers.OperatingSystemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductService</servlet-name>
        <servlet-class>com.onlineshopping.Controllers.ProductSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.onlineshopping.Controllers.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>com.onlineshopping.Controllers.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnauthorizedServlet</servlet-name>
        <servlet-class>com.onlineshopping.Controllers.UnauthorizedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCartServlet</servlet-name>
        <servlet-class>com.onlineshopping.Controllers.EditCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCartsServlet</servlet-name>
        <servlet-class>com.onlineshopping.Controllers.SaveCartsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManufactureServlet</servlet-name>
        <url-pattern>/manufacture.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OperatingSystemServlet</servlet-name>
        <url-pattern>/operating-system.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductService</servlet-name>
        <url-pattern>/product.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/carts.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnauthorizedServlet</servlet-name>
        <url-pattern>/unauthorized.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCartServlet</servlet-name>
        <url-pattern>/edit-cart.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCartsServlet</servlet-name>
        <url-pattern>/save-carts.html</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
