<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/1212537_lan1?characterEncoding=UTF-8</property>
    <property name="hibernate.connection.username">1212537</property>
    <property name="hibernate.connection.password">1212537</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.transaction.auto_close_session">true</property>
    <mapping class="com.onlineshopping.POJO.User"/>
    <mapping class="com.onlineshopping.POJO.Manufacture"/>
    <mapping class="com.onlineshopping.POJO.Product"/>
    <mapping class="com.onlineshopping.POJO.OperatingSystem"/>
    <mapping class="com.onlineshopping.POJO.Cart"/>
  </session-factory>
</hibernate-configuration>
